name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: 
        - docker build -t mwizerwa77/multi-client ./client
        - docker build -t mwizerwa77/multi-nginx ./nginx
        - docker build -t mwizerwa77/multi-server ./server
        - docker build -t mwizerwa77/multi-worker ./worker

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    # Push images
    - name: Push images
      run: 
        - docker push mwizerwa77/multi-client
        - docker push mwizerwa77/multi-nginx
        - docker push mwizerwa77/multi-server
        - docker push mwizerwa77/multi-worker